@tailwind base;
@tailwind components;
@tailwind utilities;

/* fonts.css */

.ptext {
  @apply text-center leading-[25px]   md:leading-[40px]  text-[25px] md:text-[40px]   lg:text-[40px];
}
.flexCenter {
  @apply flex items-center justify-center;
}

.footer {
  @apply text-white fotorlink my-2 block  font-Akzidenz;
}

.shopnow {
  @apply font-SaolDisplay  imagereletivetext  pt-[264px] pb-[35px]      absolute inset-0  text-4xl;
}

.form {
  @apply p-2 bg-[#0F0F0F] rounded-md mb-4;
}

.fheading {
  @apply text-xs uppercase text-[#FFFFFF] font-medium;
}
.proces {
  @apply flexCenter font-SaolDisplay pb-[34px] text-white   imagereletivetext lg:text-[40px] md:leading-[40px]  text-[18px]  leading-[21.939px] absolute inset-0  md:text-[40px] pt-[120px]  md:pt-56;
}
.proces1 {
  @apply flexCenter font-SaolDisplay  text-white   imagereletivetext lg:text-[40px] md:leading-[40px]  text-[18px]  leading-[21.939px]    absolute inset-0  md:text-[40px] pt-[100px]   md:pt-56;
}
.manning {
  text-align: center;
  font-size: 36.655px;
  font-style: normal;
  font-weight: 700;
  line-height: 38.182px; /* 104.167% */
  text-transform: uppercase;
}

.navlink {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px; /* 116.667% */
}

.Deserve {
  color: var(--White, #fff);
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 15px;
  text-transform: uppercase;
}

.Crafted {
  color: var(--White, #fff);
  font-style: normal;
  font-weight: 400;
  text-transform: uppercase;
}

.WithCare {
  color: var(--White, #fff);

  font-style: italic;

  line-height: 55px;
}

.Decades {
  color: var(--White, #fff);

  font-style: normal;
  font-weight: 400;
}
.Booknow {
  color: var(--White, #fff);

  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px; /* 150% */
}

.abouth {
  color: var(--Black, #000);

  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 15px; /* 150% */
  text-transform: uppercase;
}
.Elevating {
  color: var(--Black, #000);
  text-align: center;

  font-style: italic;
  font-weight: 300;

  text-transform: uppercase;
}
.style {
  color: var(--Black, #000);

  font-style: normal;
  font-weight: 300;

  text-transform: uppercase;
}

.aboutus {
  color: var(--Black, #000);
  text-align: center;
  font-style: normal;
  font-weight: 300;
}

.unserlinetext {
  color: var(--Black, #000);

  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px; /* 150% */
}

.imagereletivetext {
  color: var(--White, #fff);
  text-align: center;
  font-style: italic;
  font-weight: 300;
}
.Reviews {
  color: var(--Black, #000);

  font-size: 24px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  letter-spacing: 0.24px;
}

.Bespoke {
  font-family: "Akzidenz-Grotesk Pro";
  font-size: 15.273px;
  font-style: normal;
  font-weight: 400;
  line-height: 22.909px; /* 150% */
  text-transform: uppercase;
}

.Since {
  font-family: "Akzidenz-Grotesk Pro";
  font-size: 15.273px;
  font-style: normal;
  font-weight: 400;
  line-height: 22.909px; /* 150% */
}
.headingfootoer {
  color: var(--White, #fff);
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 15px; /* 150% */
  text-transform: uppercase;
}
.fotorlink {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
}

.Copyright {
  color: #75808a;
  font-family: "Akzidenz-Grotesk Pro";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 15px; /* 107.143% */
}

.formf {
  display: flex;

  padding: 7.284px 192.974px 8.087px 8.092px;
  align-items: center;

  background: #0f0f0f;
}
