@tailwind base;
@tailwind components;
@tailwind utilities;

/* fonts.css */

.ptext {
  @apply text-center leading-[25px]   md:leading-[40px]  text-[25px] md:text-[40px]   lg:text-[40px];
}
.flexCenter {
  @apply flex items-center justify-center;
}

.footer {
  @apply font-normal footer1 my-2 block  font-Akzidenz;
}

.shopnow {
  @apply font-SaolDisplay name   pt-52      absolute inset-0  text-4xl;
}

.form {
  @apply p-2 bg-[#0F0F0F] rounded-md mb-4;
}

.fheading {
  @apply text-xs uppercase text-[#FFFFFF] font-medium;
}
.proces {
  @apply flexCenter font-SaolDisplay name lg:text-[40px]   absolute inset-0  md:text-[40px] pt-24  md:pt-52;
}
.manning {
  text-align: center;
  font-size: 35px;
  font-style: normal;

  text-transform: uppercase;
}
.manningsh {
  font-size: 15.273px;
  font-style: normal;
  font-weight: 400;
  line-height: 22.909px; /* 150% */
  text-transform: uppercase;
}

.linksf {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px; /* 116.667% */
}

.freme8 {
  font-family: "Akzidenz-Grotesk Pro";
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 15px; /* 150% */
  text-transform: uppercase;
}

.fremeh8 {
  font-style: normal;
  font-weight: 400;

  text-transform: uppercase;
}

.fremei8 {
  font-style: italic;
  font-weight: 300;
}

.Decades {
  font-style: normal;
  font-weight: 400;
}

.bottomL {
  color: var(--White, #fff);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px; /* 150% */
}

.italicA {
  color: var(--Black, #000);
  text-align: center;

  text-transform: uppercase;
}

.normal {
  color: var(--Black, #000);
  font-style: normal;
  font-weight: 300;
  text-transform: uppercase;
}
.aboutA {
  font-style: normal;
  font-weight: 400;
  line-height: 15px; /* 150% */
}
.about {
  color: var(--Black, #000);
  text-align: center;
  font-size: 24px;
  font-style: normal;
  font-weight: 300;
  line-height: 30px; /* 125% */
}

.Apercu {
  color: var(--Black, #000);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.name {
  color: var(--White, #fff);
  text-align: center;
  font-style: italic;
  font-weight: 300;
  line-height: 40px; /* 100% */
}

.shopH {
  color: var(--Black, #000);
  text-align: center;
  font-size: 40px;
  font-weight: 300;
  line-height: 40px; /* 100% */
  text-transform: uppercase;
}

.footer1 {
  color: var(--White, #fff);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 15px; /* 107.143% */
}
